@model recipe_planer.Models.RecipeHandler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Names</h3>
<ul>
    @foreach (var recipe in Model.Recipes)
    {
        <li>@recipe.name</li>
    }
</ul>
<br />
<h3>Descriptions</h3>
<ul>
    @foreach (var recipe in Model.Recipes)
    {
        <li>@recipe.description</li>
    }
</ul>
<br />
<h3>Ingredients</h3>
<ul>
    @foreach (var recipe in Model.Recipes)
    {
        @foreach (var ingredient in recipe.ingredients)
        {
            string amount = Convert.ToString(ingredient.amount);
            string unit = ingredient.unit;
            string built_ingredient = amount + " " + unit;
            <li>@built_ingredient</li>
        }
    }
</ul>