@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See this project on my <a href="https://github.com/korzefi/recipe-planner/tree/master/ASPNET/recipe-planer">github</a>.</p>
</div>
