@model recipe_planer.Models.RecipeHandler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recipes</h2>
<ul>
    @foreach(var recipe in Model.Recipes)
            {
                <li>@recipe.name</li>
            }
</ul>